.newsletter {
  width: 100%;
  height: 220px;
  border: 1px solid var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  border-radius: 4px;
}

.newsletter label,
.newsletter p {
  align-self: center;
}

.newsletter div {
  display: flex;
  flex-direction: column;
}

.email {
  padding: 0.5em 0.5em;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.5em;
  border: 1px solid var(--textColor);
  flex: 1 1 auto;
  margin-bottom: 1em;
  border-radius: 4px;
}

.button {
  flex: 1 1 auto;
  align-self: center;
  font-family: inherit;
  padding: 0.5em 1em;
  border: 1px solid var(--textColor);
  border-radius: 4px;
}

.webmentions {
  border: 1px solid var(--textColor);
  padding: 1em;
  margin-top: 1em;
  border-radius: 4px;
}

.webmentions > h1 {
  font-size: 1.5em;
  margin: 0;
}

.webmentions > ul {
  margin: 0;
  padding: 0;
}

.webmentions li {
  list-style-type: none;
  margin-top: 1em;
}

.webmention {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.webmentions img {
  size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.webmentions a:after {
  content: unset !important;
}
