:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio)); /* 1.5rem */
  --s2: calc(var(--s1) * var(--ratio)); /* 2.25rem */
  --s3: calc(var(--s2) * var(--ratio)); /* 3.375rem */
  --s4: calc(var(--s3) * var(--ratio)); /* 5.063rem */
  --s5: calc(var(--s4) * var(--ratio)); /* 7.584rem */
  --text-color: #333;
  --bg-colog: #fafafa;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 400 700 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.15') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.15') format('woff2');
}

@font-face {
  font-family: 'MonoLisa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/MonoLisa-Regular.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: Inter, sans-serif;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--ratio);
  margin: 0;
  font-variant-numeric: tabular-nums slashed-zero;
  color: var(--text-color);
  background-color: var(--bg-colog);
}

img,
picture {
  max-width: 100%;
  display: block;
}

a:not([class]) {
  color: currentColor;
}

a:visited {
  color: currentColor;
}

:focus {
  outline: 2px dashed;
  outline-offset: 0.25rem;
}

pre,
code {
  max-width: 100%;
  overflow: auto;
  font-family: MonoLisa, monospace;
}

time {
  font-style: italic;
}

button {
  background-color: transparent;
  border: 1px solid;
  padding: var(--s-1);
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
}

button:hover {
  background-color: inherit;
  filter: invert(100%);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    filter: invert(100%);
  }

  img:not([src*='.svg']),
  span[role='img'],
  video {
    filter: invert(100%);
  }

  span[role='img'] {
    background: transparent;
  }
}

/* layout */
.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  grid-template-rows: auto 1fr auto;
  padding: var(--s1);
  row-gap: var(--s1);
}

.layout > * {
  grid-column: 2;
}

.layout > header {
  display: grid;
  justify-items: end;
  gap: var(--s1);
  grid-template-columns: 1fr auto;
}

.layout > header > ul {
  display: grid;
  grid-auto-flow: column;
  gap: var(--s1);
  list-style: none;
  font-weight: 700;
  padding: 0;
}

.layout > header > button {
  align-self: center;
}

.layout > footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: var(--s-1);
  padding-bottom: var(--s-1);
  border-top: 1px solid;
}

.layout > footer > ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: var(--s-2);
}

.layout .social {
  place-self: start;
}

/* article */
h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

blockquote {
  padding-left: var(--s1);
  border-left: 2px solid;
  font-style: italic;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 25ch;
}

.post {
  --flow-space: var(--s3);
}

.post time {
  --flow-space: var(--s1);
}

.post :is(h2, h3) {
  --flow-space: var(--s4);
}

.post :is(h2, h3) + * {
  --flow-space: var(--s1);
}

pre {
  border: 1px solid;
  padding: var(--s1);
  --flow-space: var(--s1);
}

/* blog posts list */
.blog-posts-list {
  display: grid;
  list-style: none;
  grid-gap: var(--s0);
  padding: 0;
}

.blog-posts-list > * {
  display: grid;
  grid-template-columns: 1fr auto;
}

.blog-posts-list a {
  text-decoration: none;
}
