:root {
  --color-background: hsl(0, 0%, 97%);
  --color-text: hsl(0, 0%, 10%);
  --color-blockquote: hsl(212, 8%, 45%);
  --color-background-pre: hsl(0, 0%, 93%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsla(0, 0%, 10%, 1);
    --color-text: hsla(0, 0%, 75%, 1);
    --color-blockquote: hsla(212, 15%, 66%, 1);
    --color-background-pre: hsla(0, 0%, 15%, 1);
  }
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Quattro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/iAWriterQuattroS-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Quattro';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/iAWriterQuattroS-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Quattro';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/iAWriterQuattroS-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

html {
  line-height: 1.5;
  font-size: 100%;
}

body {
  font-family: 'Quattro', sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

a[href^="http://"]:not([href*="krzysztofzuraw.com"]):after,
a[href^="https://"]:not([href*="krzysztofzuraw.com"]):after
{
  content: ' ↗';
}

blockquote {
  font-style: italic;
  color: var(--color-blockquote);
}

time {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.375rem;
  font-weight: 600;
}

input,
button {
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  padding: 0.5rem;
  cursor: pointer;
}

input:hover,
button:hover {
  filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
  input,
  button {
    --color-text: hsl(0, 0%, 100%);
    --color-background: hsl(0, 0%, 10%);
  }
}

label {
  font-size: 0.875rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Components */
main {
  min-height: 100vh;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: minmax(10px, 1fr) min(80ch, calc(100% - 4rem)) minmax(10px, 1fr);
  gap: 2rem;
  grid-template-rows: auto minmax(10px, 1fr) auto;
}

main > * {
  grid-column: 2;
}

nav {
  display: grid;
  justify-items: end;
}

nav > ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  /* wait till safari implements flex gap - so like 10 years */
  /* gap: 1rem; */
  font-weight: 600;
}

nav > ul > * + * {
  margin-left: 1rem;
}

footer {
  display: grid;
  place-items: center;
}

.blog-index-list {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /* wait till safari implements flex gap - so like 10 years */
  /* gap: 1rem; */
}

.blog-index-list > * + * {
  margin-top: 1rem;
}

.blog-index-list a {
  text-decoration: none;
}

.blog-index-list a:hover {
  text-decoration: underline;
}

article h1::before {
  content: '# ';
}

article h2::before {
  content: '## ';
}

article h3::before {
  content: '### ';
}

article h4::before {
  content: '#### ';
}

article h5::before {
  content: '##### ';
}

article h6::before {
  content: '###### ';
}

.newsletter {
  border: 1px solid var(--color-text);
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  gap: 1rem;
  font-family: JetBrains Mono;
}

.newsletter-header {
  justify-self: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

.input-wrapper {
  display: grid;
  gap: 0.5rem;
  flex: 1;
}

.newsletter-content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.newsletter-content > * + * {
  margin-left: 0.5rem;
}

.submit-button {
  align-self: flex-end;
}

.credits {
  justify-self: end;
  align-self: end;
}

.blog-search {
  width: 100%;
}
