* {
  box-sizing: border-box;
}

:root {
  --textColor: #555;
  --headerColor: #333;
  --backgroundColor: #fff;
  --linkColor: #4299e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --textColor: #f8f8f2;
    --headerColor: #bd93f9;
    --backgroundColor: #282a36;
    --linkColor: #8be9fd;
  }
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content strong {
  color: var(--headerColor);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a[href^="http://"]:not([href*="krzysztofzuraw.com"]):after,
a[href^="https://"]:not([href*="krzysztofzuraw.com"]):after
{
  content: ' ↗️';
}

pre {
  border: 1px solid #44475a;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

nav h1 {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.menu-item {
  font-size: 1.5em;
  font-weight: bold;
}

.main-description {
  margin-top: 1em;
  margin-bottom: 1em;
}

.main-description .hidden {
  display: none;
}
