{% extends "layouts/base.html" %}

{% block content %}

<article class="post">
  <h1 lang={{ lang }}>{{ title }}</h1>
  <time datetime="{{ date | formatDate }}">Read on {{ date | humanizeDate }}</time>
  <p>Rating: {{ rating}}/10</p>

  {{ content | safe }}

  <h2>Details</h2>
  <ul>
    <li lang={{ lang }}>{{ title }} - {{ author }}</li>
    <li>Language: {{ lang | getLanguage }}</li>
    <li>ISBN: {{ isbn }}</li>
    <li lang={{ lang }}>Publisher: {{ publisher }}</li>
    <li>Published: {{ year }}</li>
  </ul>
</article>

{% endblock %}
