{% extends "layouts/base.html" %} {% block content %}

<article class="prose dark:prose-invert lg:prose-xl">
  <h1 lang="{{ lang }}">{{ title }}</h1>
  <time datetime="{{ date | toISO }}">{{ date | humanizeDate }}</time>
  <p>Rating: {{ rating }}/10 ({% rateToWords rating %})</p>

  {{ content | safe }}

  <h2>Details</h2>
  <ul>
    <li lang="{{ lang }}">{{ title }} - {{ author }}</li>
    {% if translator %}
    <li>Translator: {{ translator }}</li>
    {% endif %}
    <li>Language: {{ lang | getLanguage }}</li>
    <li>ISBN: {{ isbn }}</li>
    <li lang="{{ lang }}">Publisher: {{ publisher }}</li>
    <li>Published: {{ year }}</li>
  </ul>
</article>

{% endblock %}
