---
import BaseLayout from "~layouts/Base.astro";
---

<BaseLayout>
  <article
    class="prose mx-auto font-serif dark:prose-invert lg:prose-xl prose-headings:font-sans"
  >
    <h1>Page not found</h1>
    <p>Oops! The page you are looking for has been removed or relocated</p>
    <a class="cursor-pointer" id="go-back">Go back</a>
  </article>
</BaseLayout>

<script>
  document.getElementById("go-back")?.addEventListener("click", () => {
    history.back();
  });
</script>
