---
import { Image } from "@astrojs/image/components";

import BaseLayout from "~layouts/Base.astro";
import { getLatestsPosts } from "~utils/getLatestsPosts";

const latestsPosts = await getLatestsPosts();
---

<BaseLayout>
  <article class="prose mx-auto dark:prose-invert lg:prose-xl">
    <h1>
      Hi, I'm Krzysztof Żuraw <span
        class="inline-block origin-wave animate-wave">👋🏻</span
      >
    </h1>
    <section class="flex flex-col items-center gap-4 md:flex-row">
      <Image
        src="/avatar.jpg"
        alt="Krzysztof Żuraw"
        width={800}
        height={800}
        format="avif"
        class="w-[128px] rounded-full"
      />
      <div>
        <p>Welcome to my blog. Here's a brief introduction about me:</p>
        <ul>
          <li>
            I am a self-taught frontend developer with over 5 years of
            experience.
          </li>
          <li>
            My expertise lies in building React and TypeScript websites and
            web-apps.
          </li>
          <li>
            Currently, I work as a Staff Engineer at <a href="https://saleor.io"
              >Saleor</a
            >.
          </li>
          <li>I am also passionate about learning CSS and design.</li>
          <li>In my free time, I enjoy brewing specialty coffee using V60.</li>
        </ul>
      </div>
    </section>
    <p>
      I believe in giving back to the community, and I actively participate as a
      mentor for Django Girls and Geek Girls Carrots. Additionally, I am a
      co-organizer of Django Girls Wrocław. If you need assistance in organizing
      a tech event, feel free to reach out to me.
    </p>
    <section>
      <h2>Latest posts</h2>
      <ul class="list-decimal">
        {
          latestsPosts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</BaseLayout>
