---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="flex items-center justify-between gap-4 border-b border-gray-300 pb-8"
>
  <HeaderLink href="/" aria-label="Home page">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      fill="currentColor"
      viewBox="0 0 700 700"
      class="w-12"
      ><path
        d="M529.24 428.48h11.211V226.82h56.055v-67.266h100.76V47.584h-448.03V2.74H92.286v44.844H36.231v111.97h56.055v470.45H2.735v67.266h336.05v-67.266h-89.551v-470.45h212.87v67.266h56.055v180.06c-38.008 5.469-67.266 38.145-67.266 77.656 0 43.203 35.137 78.477 78.477 78.477s78.477-35.137 78.477-78.477h-22.422c0 30.898-25.156 56.055-56.055 56.055s-56.055-25.156-56.055-56.055c-.137-31.035 25.02-56.055 55.918-56.055zM114.71 25.16h111.97v22.422H114.71zm17.773 134.39-17.773 17.773V159.55zm94.336 353.83-96.113-96.113 96.113-96.113zm-15.859 15.859-96.113 96.113v-192.36zm-96.25-127.83v-192.36l96.113 96.113zm201.66 251.02v22.422H25.16v-22.422zm-174.59-22.422 85.039-85.039v85.039zm85.039-340.7-96.113-96.113 33.633-33.633h62.617v129.75zm-168.03-152.17V70.008h616.05v67.266H58.789zm425.61 22.422h89.551v44.844h-89.551z"
      ></path><path
        d="M338.79 92.285h22.422v22.422H338.79zM383.63 92.285h22.422v22.422H383.63zM293.95 92.285h22.422v22.422H293.95z"
      ></path></svg
    >
  </HeaderLink>

  <nav class="flex flex-wrap gap-3 font-medium">
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/rss.xml">RSS</HeaderLink>
  </nav>
</header>
