:root {
  --font-sans-serif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --bg-color: hsla(0, 0%, 98%, 100%);
  --text-color: hsla(0, 0%, 20%, 100%);
  --code-token-comment: hsla(39, 9%, 39%, 100%);
  --code-token-function: hsla(39, 29%, 36%, 100%);
  --code-token-entity: hsla(220, 46%, 62%, 100%);
  --code-background: hsla(0, 0%, 94%, 100%);
  --code-token-selector: hsla(40, 76%, 10%, 100%);

  --typography--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --typography--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --typography-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --typography-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --typography-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem);
  --typography-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --typography-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --typography-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem);

  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsla(0, 0%, 20%, 100%);
    --text-color: hsla(0, 0%, 98%, 100%);
    --code-token-comment: hsla(37, 14%, 82%, 100%);
    --code-token-function: hsla(42, 15%, 83%, 100%);
    --code-token-entity: hsla(221, 70%, 92%, 100%);
    --code-background: hsla(360, 100%, 97%, 21%);
    --code-token-selector: hsla(40, 15%, 84%, 100%);
  }
}

html {
  font-size: 100%;
  font-family: var(--font-sans-serif);
  scrollbar-color: var(--text-color) var(--bg-color);
  color-scheme: light dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  row-gap: var(--space-m);
  grid-template-columns: 1fr min(90vw, 100%) 1fr;
  grid-template-rows: auto 1fr auto;
  padding: var(--space-s);
  margin: 0;
}

nav,
main,
footer {
  grid-column: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-s);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  gap: var(--space-s);
}

footer {
  border-top: 2px solid;
  --padding: var(--space-m) 0;
}

time {
  white-space: pre;
  font-variant-numeric: tabular-nums;
}

code {
  font-family: var(--font-mono);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

a:not([class]) {
  color: currentColor;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.25rem;
}

[href]:hover {
  text-decoration: none;
}

::selection {
  color: var(--bg-color, hsla(0, 0%, 100%, 100%));
  background: var(--text-color, hsla(0, 0%, 0%, 99%));
}

article a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans-serif);
  line-height: 1.3;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: var(--typography-5);
}

h2 {
  font-size: var(--typography-4);
}

h3 {
  font-size: var(--typography-3);
}

p,
label,
strong,
li,
th,
td,
time {
  font-size: var(--typography-0);
}

blockquote {
  padding-left: var(--space-m);
  border-left: 5px solid;
  font-style: italic;
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 25ch;
}

article:has(p),
article:has(li) {
  max-width: 65ch;
}

li {
  margin-top: var(--space-xs);
}

pre,
iframe {
  max-width: 100ch;
}

li[aria-current="page"] {
  font-weight: 700;
}

ul[role="list"],
ol[role="list"] a {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
