.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list > li {
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 45em) {
  .list > li {
    grid-template-columns: 1fr min-content;
  }
}

.header-item-active {
  font-weight: 700;
}
