{% set currentURL %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}

{%- set mentions = webmentions | getWebmentionsForUrl(currentURL) -%}

<section class="webmentions">
  <h2>Webmentions</h2>
  {% if mentions.messages | length %}
    <h3>Replies</h3>
    <ol>
      {% for message in mentions.messages %}
        <li>
          <a {% if message.url %}href="{{ message.url }}"{% endif %} target="_blank" rel="noopener noreferrer">
            {{ message.author.name }}
          </a> on
          <time datetime="{{ message.published | formatDateFromString }}">
            {{ message.published | formatDateFromString }}
          </time>
          <p>
            {{ message.content.html | safe }}
          </p>
        </li>
      {% endfor %}
    </ol>
  {% endif %}
  <h3>Stats</h3>
  <p>Likes: {{ mentions.likesCount }}, Reposts: {{ mentions.repostsCount }} </p>
</section>
